<!DOCTYPE html>
<html>
<head>
    <title>Walrus Form</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/Walrus/assets/styles/main.css">
</head>
<body>
    <div style="text-align:center">
        <img src="/Walrus/assets/images/logo.png">
        <br>
        <nav>
            <a href="/Walrus/">Home</a>
            <a href="/Walrus/post/create">Cr&eacute;er un post</a>
            <a href="/Walrus/signin">Se connecter</a>
            <a href="/Walrus/signup">S'inscrire</a>
        </nav>
    </div>
    <a href="/Walrus/">back</a>
    {% if error is defined %}
        {{ error }}
    {% elseif post is defined %}
        title : {{ post.properties.title }}
        content : {{ post.properties.content }}

        {% if session is defined %}
            {{ session.user.id }}
            {% if session.user.id == post.properties.users_id %}
                <a href="/Walrus/post/{{ post.properties.id }}/delete">delete</a>
                <a href="/Walrus/post/{{ post.properties.id }}/edit">edit</a>
            {% endif %}
        {% endif %}
    {% endif %}
</body>
</html>



